.candidate-tracker-container {
    padding: 40px 20px;
}

.candidate-card {
    border: none;
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* background: linear-gradient(to right, #f8f9fa, #657f9a98); */
    margin: 20px 0;
}

.candidate-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-weight: bold;
    font-size: 1.4rem;
    font-style: italic;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: #00000081;
    margin-bottom: 15px;
}

.custom-btn {
    background: linear-gradient(to right, #2c3e50, #6075a3bf);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #084298;
}

.animate-fade-in {
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
    .candidate-card {
        margin-bottom: 30px;
    }
}
